#{extends 'main.html' /}
#{set title:'Social Module' /}
<div class="container">
    <div class="page-header">
        <div class="header-text"><h1>&{'main.logo'}</br><small>&{'main.slog'}</small></h1></div>
    </div>
    <div class="main-body">
            <button class="btn" id="social">&{'btn.chose.social'}</button>
            <button class="btn">&{'btn.chose.social'}</button>
            <button class="btn">&{'btn.chose.social'}</button>
    </div>
</div>

<script type="text/javascript">

   $(document).on('ready',function(){
       setTimeout(function(){$('#social').fadeIn("slow");},2000);
   });

</script>