<!DOCTYPE html>

<html>
    <head>
        <script src="@{'/public/javascripts/jquery-2.1.0.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <meta charset="${_response_encoding}">
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap.less'}">
        <script src="/api/v1/js/social-api.js"></script>
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
